*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
     box-sizing: border-box;
}
body{
    box-sizing: border-box;
        text-transform: capitalize;
        overflow-x: hidden;
}
@media (max-width: 767px){
body {
         overflow-x: hidden !important;
         overflow: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
}}
a{
    text-decoration: none;
    cursor: pointer;
}
.header .box-contect{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/pexels-fox-1595385.jpg)  ;
    width: 100%;
    
    height: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.memu{
display: inline-flex;
}

h3.logo {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 16px;
    font-family: cursive;
    color: #ff4d73;
    margin-bottom: 4px;
cursor: pointer;

}
.memu button{
    padding: 5px 20px;
    background: #ff4d73;
    font-size: 16px;
    border: 0;
    position: absolute;
    top: 5%;
    right: 10%;

}
.memu button .fa{
    margin-right: 10px;
}
.text-baner{
    width: 80%;
    margin: 16% auto 0;
    color: azure;
    text-align: center;
}
.text-baner h2{
    margin-top: 50px;
    font-size: 62px;
}
.text-baner p{
    margin: 20px 0 50px;
    font-size: 14px;
}
.text-baner a{
    text-decoration: none;
    color: azure;
    border: 1px solid #ff4d73;
    display: block;
    padding: 10px;
    width: 180px;
    margin: auto;
    background-color: #ff4d73;
    transition: all .7s ease;
}
.text-baner a:hover{
background: transparent;
}
.box-contect{
    height: 100%;
    width: 100%;
    height: 100vh;
    background-color: #f2f4ff;
}
.container h1{
    text-align: center;
    padding-top: 180px;
}
.container h1::after{
    content: '';
    display: block;
    height: 3px;
    width: 130px;
    margin: 20px auto 50px;
    background: #ff4d73;
}
.ser .icon svg{
    border: 1px solid #ff4d73;
    border-radius: 50%;
    color: #ff4d73 !;
    width: 70px;
    height: 70px;
    padding: 18px;
    font-size: 30px;
    margin: 20px auto;
}
.ser .icon .fa{
    border: 1px solid #ff4d73;
    border-radius: 50%;
    color: #ff4d73 !;
    width: 70px;
    height: 70px;
    padding: 18px;
    font-size: 30px;
    margin: 20px auto;
}
.ser p{
    color: #777;
    font-size: 14px;
    margin-top: 10px;
    padding: 20px;
    transition: .5s;
}
.ser span{
    color: #ff4d73;
        transition: .7s;
}
.ser .col-md-3:hover{
    background-color: #ff4d73;
    cursor: pointer;
    color: azure;
    box-shadow: 8px 9px 15px 0px rgb(0 0 0 / 30%);;    transition: .7s;

}
.ser .col-md-3:hover svg{
  color: #f2f4ff; transition: .7s;
}
.ser .col-md-3:hover p{
  color: #f2f4ff; transition: .7s;
}
.ser .col-md-3:hover span{
  color: #f2f4ff; transition: .7s;
}
.future h2{
    margin-top: 130px;
}
.future h2::after{
   content: '';
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto 50px;
    background: #ff4d73;
    position: absolute;
    left: 80px;
   
}
.future ul{
    margin-top: 30px;
    margin-left: 50px;
    list-style: none;
}
.future ul li{
    line-height: 40px;
    font-size: 14px;
    position: relative;
}
.future ul li::after{
    content: '';
    height: 7px;
    width: 7px;
    background: #ff4d73;
    position: absolute;
    left: -25px;
    top: 17px;
    transform: rotate(45deg);
}
.future .fuld{
    margin-top: 130px;
}
.foter{
    padding-top: 50px;
}
.content-from{
    padding: 15px;
}
.from-control{
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
::placeholder{
    font-size: 12px;
    text-transform: capitalize;
}
.content-from button{
    border:  none ;
    box-shadow: none;
    border-radius: 2px;
    /* padding-top: 12px; */
    margin-top: 12px;
    background-color: #ff4d73 ;
        width: 40%;
    height: 30px;
    color: #f2f4ff;
}
.content-from button:hover{
    border: 1px solid #ff4d73;
    background: transparent;
    color: #ff4d73;
}
.contant-info .flow{
    padding: 5px;
    background: azure;
        margin: 10px;
}
.contant-info svg{
    color: #ff4d73 !important;
    margin: 10px;
    font-size: 20px !important;
    font-weight: bold;
padding-right: 20px;
   
}svg {
    width: 9%;
}
i.fa.fa-heart {
    color: #ff4d73;
}

.contant-info span{
    font-size: 14px;
}
.copy{
    text-align: center;
}
hr{
    text-align: center;
    background-color: #ff4d73;
}
.future, .serves ,.foter{
    margin-top: 10%;
}